@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
.App {
  font-family: "Poppins", sans-serif;
  margin-top: 80px;
  min-height: 100vh
}

.hero {
  height: 100%;
  overflow: hidden;
}

#jpwebtech > a{
  font-family: 'Share Tech Mono',
  monospace;
  color:rgb(130, 248, 126);
  text-decoration: unset;
}

#jpwebtech > a:hover {
  color: #fff !important
}